*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: sticky;
    top: 0;
    z-index: 5;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    background: url('pic\ 12.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity:.8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top:30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white; 
    color: white;
    outline:none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color:black; 
}
.imgCont{
    background-color: blanchedalmond;
}


/* About Section */
#about{
    display: flex;
    flex-direction: column;
    background-color:#e5d3b3;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 1rem;
    margin-bottom: 20px;
}

/* Images Section */
#images{
    display: flex;
    flex-direction: column;
    background-color: #e5d3b3;
    color: black;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery img{
    width: 360px;
    height: 340px;
    padding: 10px;
    margin: 10px;
}
.gallery img:hover{
    background-color: black;
    cursor: pointer;
}    
.imgCont{
    background-color: #e5d3b3;
}

/* Contact Section */
.contact{
    position: relative;
    padding: 50px 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #e5d3b3;
    padding-bottom: 200px;
}
.contact .contect{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
font-size: 36px;
font-weight: 500;
color: #101010;
}

.contact .content p{
font-weight: 300;
color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
position: relative;
padding: 20px 0;
display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #0c0c0c;
    flex-direction:column;
    font-weight: 300;

}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: black;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 1s;
    color: #666
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: gray;
    font-size: 12px;
    transform: translateY(-10px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: black;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    font-size: 18px;
    
}

